* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.page-container {
    max-width: 980px;
    margin: 20px auto 0;
    display: flex;
}

.left-side {
    display: inline-block;
    width: 25%;
    background-color: #3a5e90;
    padding: 20px 0;
    color: white;
}

.right-side {
    display: inline-block;
    width: calc(75% - 6px);
}

.avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    padding: 32px;
    background: white;
}

.image {
    display: block;
    width: 100%;
}

.menu li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.9em;
}

.menu > li > div {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.2em;
}

.menu > li {
    margin-bottom: 15px;
}

.menu {
    margin-top: 20px;
    margin-left: 20px;
}

.menu p {
    font-weight: normal;
}

.menu ul {
    margin-right: 20px;
}

.menu-sublist li {
    display: flex;
    justify-content: space-between;
}

/*ДОЦИ Я ПОДИВИВСЯ*/
.right-side h1 {
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.block {
    margin-bottom: 20px;
}

.block h2 {
    border-bottom: 2px solid #cfcfcf;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.entry-header {
    display: flex;
    justify-content: space-between;
}

.italic-font {
    font-style: italic;
}

.menu-sublist span {
    font-weight: normal;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu li {
    display: inline-block;
    font-weight: bold;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    background: #5c84b8;
    border-radius: 6px;
}

.nav-menu a:hover {
    background: #466fa6;
}

.nav-menu a:active {
    background: #3f6699;
}

.right-inner {
    padding: 20px;
}

.nav-menu {
    background-color: #3a5e90;
    padding: 20px;
    text-align: center;
}

.block p {
    text-align: justify;
}

.block > ul > li {
    list-style: none;
}

.block > ol {
    padding-left: 20px;
}