* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

li {
    display: inline-block;
    margin: 5px;
    padding: 20px;
    font-size: 1.5rem;
    background-color: #51c93b;
    border-radius: 8px;
    list-style: none;
    cursor: pointer;
}